
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #1A1917;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Cairo', cursive;
  text-align: center;
  height: 100%;
  width: 100%;
  display: 'flex';
  flex: '1 1 auto';
  flex-direction: 'column';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.css-1urjo1s-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
  padding: 7.5px 4px 7.5px 5px;
}

.img-upload{
  width: 300px;
  height: 150px;
  object-fit:contain;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.myCustomList::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

.myCustomList::-webkit-scrollbar-thumb {
  border-radius: 1px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(247, 216, 159, 1);
}
#background-video{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position:absolute;
  z-index: -100;
  opacity: 0.7;
  top: 0;
  left: 0;
}


.animated-number {
  color:white;
  display: flex;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  transform: translateY(0);
  opacity: 1;
}

.animated-number-enter {
  transform: translateY(20px);
  opacity: 0;
}

.animated-number-enter-active {
  transform: translateY(0);
  opacity: 1;
}

.animated-number-exit {
  transform: translateY(0);
  opacity: 1;
}

.animated-number-exit-active {
  transform: translateY(-20px);
  opacity: 0;
}


#project-video{
  object-fit:fill;
  width: 375px;
  height: 240px;

  opacity: 0.7;
  background-color: rgba(247, 216, 159, 0.2);
}

#project-video-detail{
  height: 55vh;
  width: 100%;
}
.video-container {
  background-color: black; /* Fondo negro para el contenedor */
  position: relative; /* Permite posicionar el overlay sobre el video */
}

.video-gradient-overlay {
  position: absolute; /* Permite posicionar la capa encima del video */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; /* Cubre todo el área del video */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0)70%, rgba(0, 0, 0, 1) 100%); /* Degradado de transparente a negro */
  pointer-events: none; /* Asegura que los clics pasen al video debajo */
}

.gradient-overlay {
  position: absolute; /* Permite posicionar la capa encima del video */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; /* Cubre todo el área del video */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0)70%, rgba(0, 0, 0, 1) 100%); /* Degradado de transparente a negro */
  pointer-events: none; /* Asegura que los clics pasen al video debajo */
}

.button-overlay {
  position: absolute; /* Permite posicionar la capa encima del video */
  top: 50%;
  left: 50%;
  background-color: rgba(0,0,0,0.5);
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  height: 50px;
}

.button-overlay-close{
  position: absolute; /* Permite posicionar la capa encima del video */
  background-color: rgba(0,0,0,0.5);
  width: 30px;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  height: 30px;
}

.project-img{
  width:100%;
  height: 100%;
  object-fit:cover;
  opacity: 0.8;
  
}

.client-img{
  height: 20px;
  object-fit:cover;
  opacity: 0.7;
  border-radius:2px ;
}


.img-item{
  height: 200px;
  width:300px;
  object-fit:cover;
  border-radius: 7px;
}

.img-sub{

  object-fit:fill;
  border-radius: 7px;
}

.img-service{
  
  height: 300px;
  width:100%;
  object-fit:cover;
  border-top-left-radius: 2px;
  border-top-right-radius:2px;
  filter: opacity(50%);
  -webkit-filter: opacity(50%);
}

.img-feature{
  
  height: 80px;
  width:100%;
  object-fit:contain;
  border-top-left-radius: 2px;
  border-top-right-radius:2px;
}


.img-ads{
  height: 70px;
  width:135px;
  object-fit:cover;
  border-radius: 7px;
}

::-webkit-scrollbar {
  width: 0px;
  height: 3px;
}

.container {
  display: flex;
  max-width:none !important;
  align-items: center;
  width: 100% !important;
  position: relative;
  justify-content: center;
  margin:0px !important;
}

.lista-horizontal {
  width: 100% !important;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
}



.boton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Aumenta la duración de la transición */
  z-index: 1; /* Asegura que los botones estén sobre la lista */
}

.boton-izquierda {
  display:flex;
  align-content:center;
  justify-content:center;
  align-items:center;
  border-radius: 0.5rem;
  left: 0px; /* Ajusta según sea necesario */
  position:absolute;
  font-size: 25px;
}

.boton-derecha {
  display:flex;
  align-content:center;
  justify-content:center;
  align-items:center;
  border-radius: 0.5rem;
  right: 0px; /* Ajusta según sea necesario */
  position:absolute;
  font-size: 25px;
}

.oculto {
  opacity: 0; /* Cambia la opacidad para ocultar */
  pointer-events: none; /* Evita que el botón sea clickeable */
  transform: scale(0.9); /* Añade una transformación para hacer el botón más pequeño al ocultarse */
}

@keyframes loading {
0% {
  background-color: rgba(247, 216, 159, 0.4);
}
40% {
  background-color: rgba(247, 216, 159, 0.4);
}
70% {
  background-color: rgba(247, 216, 159, 0.1);
}
90% {
  background-color: rgba(247, 216, 159, 0.4);
}
}

.loadingImg{
  background-color:rgba(247, 216, 159, 0.4);
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-name: loading;

}



@keyframes mymove {
  from {background-color: transparent;}
  to {background-color: #1A1917;}
}

@keyframes mymove1 {
  from {background-color: #1A1917;}
  to {background-color: transparent;}
}



/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0,0.6);
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb:hover {
  background: #f7d89f;
}

/* Handle on hover */

  ::-webkit-scrollbar-thumb {
  background: rgba(247, 216, 159, 0.4);
  
}




.scroll {
  width: 500px;
  height: 100px;
  white-space: nowrap;
  position: relative;
  display: flex;
  flex-direction: column;
  scrollbar-color: red;
}



/* Demo only */
.container {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.3;
  max-width: 800px;
  margin: 100px auto;
}

.example {
  font-size: 86px;
  text-align: center;
}

.inline {
  display: inline-block;
}
/* End demo styles */

.number-ticker {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
  width: max-content;
  margin: auto;

  --duration: 0.5s;
  --easing: ease-in-out;
}

.number-ticker .number {
  line-height: 1;
}

.number-ticker .item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.col {
  display: flex;
  align-items: center;
  position: relative;
}

.number-ticker .inc {
  top: 100%;
  transform: translateY(-100%);
  animation: increase var(--duration) var(--easing) forwards;
  flex-direction: column-reverse;
}

@keyframes increase {
  100% {
    transform: translateY(0%);
    top: 0;
  }
}

.number-ticker .dec {
  bottom: 0;
  transform: translateY(0%);
  animation: decrease var(--duration) var(--easing) forwards;
  flex-direction: column;
}

@keyframes decrease {
  100% {
    top: 100%;
    transform: translateY(-100%);
  }
}

@media (prefers-reduced-motion) {
  .number-ticker .inc,
  .number-ticker .dec {
    animation: none;
  }
}




