
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #0A0A0A;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Cairo', cursive;
  text-align: center;
  height: 100%;
  width: 100%;
  display: 'flex';
  flex: '1 1 auto';
  flex-direction: 'column';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.css-1urjo1s-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input {
  padding: 7.5px 4px 7.5px 5px;
  color: rgba(247, 216, 159, 1);
}

.img-upload{
  width: 300px;
  height: 150px;
  object-fit:cover;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.myCustomList::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

.myCustomList::-webkit-scrollbar-thumb {
  border-radius: 1px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(247, 216, 159, 1);
}
#background-video{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -100;
  opacity: 0.3;
  top: 0;
  left: 0;
}

.img-item{
  height: 200px;
  width:300px;
  object-fit:cover;
  border-radius: 7px;
}